* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #151118;
}

canvas {
  background-color: #17101d;
  height: 50vh;
  display: inline-block;
}

h1 {
  font-size: 48px;
  color: whitesmoke;
}

button {
  font-size: 24px;
  padding: 6px 8px;
  cursor: pointer;
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
